.GCwiki-blockquote{
display: flex;
background: var(--color-bg2);
border: 1px solid var(--color-bg2);
}
.GCwiki-blockquote:hover{
border: 1px solid var(--color-2);
}
.GCwiki-blockquote p {
        margin-bottom: 0;
}
.GCwiki-blockquote > div{
        padding: 1.5rem .5rem;
}

.GCwiki-blockquote > .GCwiki-blockquote-fa{
         color: var(--color-bg2);
}

/*===========================================================
======================== 普通引用框==========================
===========================================================*/
.GCwiki-blockquote-pt > .GCwiki-blockquote-fa{
        background-color: var(--color-2);
}

/*===========================================================
======================== 警告引用框==========================
===========================================================*/
.GCwiki-blockquote-jg > .GCwiki-blockquote-fa{
        background-color: var(--color-1);
}

/*===========================================================
======================== 备注引用框==========================
===========================================================*/
.GCwiki-blockquote-bz > .GCwiki-blockquote-fa{
        background-color: var(--color-p);
       
}

/*===========================================================
======================== 设置引用框==========================
===========================================================*/
.GCwiki-blockquote-sz > .GCwiki-blockquote-fa{
        background-color: var(--color-1);
}


/*===========================================================
======================== 需要施工引用框==========================
===========================================================*/
.GCwiki-blockquote-xysg > .GCwiki-blockquote-fa{
        background-color: var(--color-1);
      font-size: 1.5rem;
}
/*===========================================================
======================== 施工中引用框==========================
===========================================================*/
.GCwiki-blockquote-sgz > .GCwiki-blockquote-fa{
     background-color: var(--color-4);
     font-size: 1.5rem;
}
