@media (min-width: 1165px){
.flow-component.flow-board-page.flow-full-height-side-rail .flow-board-header:before {
    background-color: var(--color-bg2);
}}
.oo-ui-icon-speechBubbles, .mw-ui-icon-speechBubbles:before {
    background-image: linear-gradient(transparent,transparent),url(../img/lt.svg);
}

.oo-ui-buttonElement-frameless.oo-ui-widget-enabled > .oo-ui-buttonElement-button {
    color: var(--color-p);
}
.oo-ui-buttonElement-frameless.oo-ui-widget-enabled > .oo-ui-buttonElement-button:hover {
    color: var(--color-p);
}
.oo-ui-icon-listBullet, .mw-ui-icon-listBullet:before {
    background-image: linear-gradient(transparent,transparent),url(../img/gd.svg)!important;
}

.flow-ui-editorWidget > .flow-ui-editorWidget-editor:not(.oo-ui-pendingElement-pending) {
    background-color: var(--color-bg2)!important;
}
.flow-topic-titlebar{
    background-color: var(--color-bg2);
}
.oo-ui-textInputWidget .oo-ui-inputWidget-input {
    background-color: var(--color-bg2);
    color: var(--color-p);
}
.mw-ui-anchor.mw-ui-progressive.mw-ui-quiet {
    color: var(--color-p);
}
.mw-ui-anchor.mw-ui-progressive.mw-ui-quiet:hover {
    color: var(--color-p);
}
.oo-ui-icon-ellipsis, .mw-ui-icon-ellipsis:before {
    background-image: linear-gradient(transparent,transparent),url(../img/gd2.svg);
}
.oo-ui-indicator-down {
    background-image: linear-gradient(transparent,transparent),url(../img/xjt.svg);
}